@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="container text-center" style="margin-top: 100px;">
    <h1 class="display-1 text-danger fw-bold">403</h1>
    <h2 class="mb-4">Truy cập bị từ chối!</h2>
    <p class="lead mb-5">Bạn không có quyền hạn để thực hiện thao tác này hoặc truy cập vào khu vực này.</p>
    <a href="/" class="btn btn-primary btn-lg shadow">Quay lại Trang chủ</a>
</div>